/* Global styles */

body {
  /* CSS reset so we don't get margins and paddings that are "baked in" */
  all: unset;
  --star-wars-yellow: #f9d71c;
}

.App {
  display: flex;
  height: 100vh;
  background: black;
  color: var(--star-wars-yellow);
}

section {
  padding: 1rem;
}

/* Above Tablet size */
@media (min-width: 768px) {
  section {
    height: 100vh;
  }

  .toc {
    width: 20vw;
    border-right: 1px solid var(--star-wars-yellow);
  }
}
/* Mobile */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .toc {
    min-height: 20vh;
    height: 50%;
    border-bottom: 1px solid var(--star-wars-yellow);
  }

  .movie-details {
    height: 100%;
    border-right: unset;
  }
}
